
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
</p>

<% @cocktail.doses.each do |dose| %>
  <p><%= dose.description %> -  <%= dose.ingredient.name %></p>
<% end %>

<%= link_to 'New dose', new_cocktail_dose_path(@cocktail) %> |
<%= link_to 'Edit', edit_cocktail_path(@cocktail) %> |
<%= link_to 'Back', cocktails_path %>
